


<!-- mod_tracker/resolution -->
<tr valign="top">
    <td align="right" height="25%" style="background-color: #2eaa20;" class="tracker-issue-param status-resolved">
        <b>{{#str}}resolution, tracker{{/str}}:</b>
    </td>

    <td align="left" colspan="3" width="75%" class="tracker-issue-value">
        {{{resolution}}}
    </td>
</tr>
<!-- /mod_tracker/resolution -->
